###################################################
# Install the required packages listed below.
# These are the packages required to run the bot.
###################################################
# Use the command `pip install -r requirements.txt` to install them.
###################################################
# Bot runs on Python 3.11.2 to 3.11.4
# Important! Make sure that you are running this bot in a Python enviroment with python version 3.11.2 at miminum bot not higher than 3.11.4 as it introduced some errors with discord.py.
###################################################


#Versions 

discord.py==2.6.3 
PyNaCl==1.6.0
python-dotenv==1.1.1
aiohttp==3.12.15
sympy==1.14.0
asyncio==3.4.3

# Full list of requirements:

discord.py
PyNaCl
python-dotenv
aiohttp
sympy
asyncio
os
sys
json
logging
random
datetime
dotenv # From python-dotenv
importlib
builtins
time
re